#debug: true
hello:
  message: test
message: test

ip:
  address: 192.168.250.132


logging:
  level:
    root: info
    com:
      example:
        spring:
          learn:
            demo:
              mybatis:
                dao: debug
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spring_test?verifyServerCertificate=false&useSSL=false&useUnicode=true&characterEncoding=utf-8&noAccessToProcedureBodies=true&serverTimezone=GMT%2B8
    username: root
    password: root

  redis:
    host: ${ip.address}
    port: 6379
    database: 0
    password:
    timeout: 1000
    jedis:
      pool:
        max-active: 1000
        max-idle: 0
        max-wait: -1
        min-idle: 10
  cache:
    ehcache:
      config: ehcache.xml
  messages:
    basename: i18n.login
